<div id="cont">
	<h1>Attach File</h1>

  	<h2>New File Upload</h2>
	<form method="post" action="/a/file/upload/<%= @page.basename %>" class="niceform" enctype="multipart/form-data">
		<p>
			<label>Name</label>
			<input type="text" name="name" />
		</p>
		<p>
			<label>File</label>
			<input type="file" name="file" />
		</p>
		<p>
			<button type="submit" class="submit">Upload</input>
		</p>
	</form>
</div>